body{
    /* This will set the overall nature. 
    So, flex column, no margins and roboto font.*/
    display: flex;
    flex-direction: column;
    margin: 0;
    font: Roboto;
}
p{
    /*This will remove the preset margins from the p elements*/
    margin: 0;
    /*This is the font-size of p*/
    font-size: 18px;
    
}
h1{
    /*This will remove the preset margins from the h1 elements*/
    margin: 0;
    /* This is the styling of the h1 elements*/
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1;
}

h2{ 
    /*This will remove the preset margins from the h2 elements*/
    margin: 0;
    /* This is the styling of the h2 elements*/
    font-size: 36px;
    columns: #1F2937;
    font-weight: 900;
}

h3{
    /*This will remove the preset margins from the h3 elements*/
    margin: 0;
    /* This is the styling of the h3 elements*/
    font-size: 24px;
    color: #F9FAF8;
}

h4, li{
    /*This will remove the preset margins from the h4 and li elements*/
    margin: 0;
    /* This is the styling of the h4 and li elements*/
    font-size: 20px;
    font-weight: 200;
    color: #E5E7EB;
    /*This line removes the dot points from the list*/
    list-style-type: none;
}

a{
    /*This remove the color from the hyperlinks and under lines.*/
    color: inherit;
    text-decoration: none;
}

ul{
    /*This turns the unordered list into a flex item and adds a gap between 
    the elements*/
    display: flex;
    gap: 20px;
}

/*HEADER*/

.header{
    /*This sets the colors*/
    background-color: #1F2937;
    color: white;
    
    /*Making the overall header a flex item, column direction
    centering content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1{
    /*This sets the width of the row*/
    width: 900px;
    /*This makes the first row a flex item and sets it to space-between
    which puts the content on either end
    and also aligns the vertical to center*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Added a little padding to the bottom too.*/
    padding-bottom: 50px;
}

.row2{
    /*This sets the width of the row*/
    width: 900px;
    /*This makes the second row a flex item set to space-between to put
    the content on either end*/
    display: flex;
    justify-content: space-between;
    /*Added a little padding to the bottom too.*/
    padding-bottom: 100px;
}

.row2content{
    /*This makes the second rows content a flex item
    direction column and addeds flex grow, so it will grow to 
    available space with the placeholder.*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*Setting a fixed width to the content to mimic the result*/
    width: 400px; 
    /*Adding subtle padding to squish the text to acheive the result
    and a small gap between the content vertically.*/
    padding-right: 50px;
    gap: 10px;
}

.placeholder{
    /*Making this a flex item, moving the text to the center and adding 
    flex grow so it competes for availabe space with the content.*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*Setting a fixed width and height*/
    height: 200px;
    width: 400px;
    /*Setting the background color*/
    background-color: rgb(92, 98, 104);
    
}

button{
    /*Setting the width and height.
    Padding to push it off the edge of the flex box*/
    width: 100px;
    height: 28px;
    padding: 4px;
    /*styling*/
    color: #E5E7EB;
    background-color: #3882F6;
    font-weight: bold;
    /*This makes the border invisible, and makes curves the corners.*/
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



/*INFO SECTION*/

.box{
    /*This sets a height and width and outline*/
    width: 150px;
    height: 150px;
    outline: solid #3882F6 3px;
    /*This makes the box corners curve.*/
    border-radius:12px;
    cursor: pointer;
}

.info{
    /*This sets the height of the section*/
    height: 450px;
    /*This makes the whole info section a flex item
    direction column with all the content vertically and horizontally centered.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illus-box{
    /*This make the boxes group a flex item with a gap of 50px*/
    display: flex;
    gap: 50px; 
    /*This adds padding for the top and bottom*/
    padding-top: 50px;
    padding-bottom: 10px;
}

.subtexts{
    /*This sets a fixed width*/
    width: 750px;
    /*This makes the subtexts a flex item with a gap of 50px*/
    display: flex;
    gap: 50px;
    /* This makes the text meet the common edge and aligns the last line*/
    text-align: justify;
    text-align-last: center;
}

/*QUOTE SECTION*/
.quote-section{
    /*This sets the height of the section*/
    height: 450px;
    /*This makes it a flex item, column orientation and centering content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*This sets the background color*/
    background-color: #E5E7EB;
}

.quote{
    /*This sets the width to match the above section*/
    width: 750px;
    /*This sets the styling*/
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
}
.quote-subtext{
    /*This sets the width to match the above section*/
    width: 750px;
    /*This aligns the text at the end of the width*/
    text-align: end;
    /*This sets the styling*/
    font-size: 24px;
    font-weight: bolder;
}

/*CALL TO ACTION SECTION*/

.action-section{
    /*Makes the section flex, centers content and sets the height*/
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px
}

.action-content{
    /*Makes the content flex, centers vertically.
    Makes content space-around*/
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*Sets height and width*/
    width: 900px;
    height: 150px;
    /*Sets the background color*/
    background-color: #3882F6;
    /*Adds curved corners*/
    border-radius: 10px;
    cursor: pointer;
}

.action-text{
    /*Makes flex column*/
    display: flex;
    flex-direction: column;
    /*Adds text styling*/
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.action-hero{
    /*Text styling to overide for hero text*/
    font-size: 20px;
    font-weight: bolder;
}

.action-button{ 
    /*Adds height*/
    height: 30px;
    /*Makes text bolder*/
    font-weight: bolder;
    /*Adds border and curves corners*/
    border: solid white 2px;
    border-radius: 6px;
    cursor: pointer;
}

/*FOOTER*/

.footer{
    /*Setting height*/
    height:80px;
    /*Making flex, centering content*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Adding subtle space between words*/
    word-spacing: 3px;
    /*Styling*/
    background-color: #1F2937;
    color: white   
}